@{
    ViewData["Title"] = "Home Page";
}

<div id="my-chart"></div>
<canvas id="myCanvas"></canvas>


@section scripts {
    <!--<script src="~/dist/main-client.js" asp-append-version="true"></script>-->
    <script type="text/javascript" src="~/dist/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="~/dist/fusioncharts/fusioncharts.charts.js"></script>
<script type="text/javascript" src="~/dist/main.js"></script>
}


